*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.7)),url(images/background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} 
.toprow{
    position: relative;
    width: 100%;
    background-color:white;
    max-height: 130px;
    margin-top: 0;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
}  
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 4px 8px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(34, 31, 31);
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li a:hover{
    color:#04881a;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0b6e31;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    color: white;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color:white;
}
.text-box a{
    color: #fff;
}
.text-box a:hover{
    color: #f44336;
}
@media(max-width: 700px){
.text-box h1{
    font-size: 62px;
    color: black;
}
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: #5ecf7a;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
}
}
/*-------academics--------*/
.academics{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.academics p{
    color: #3b3a3a;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}
H1{
    font-size: 36px;
    font-weight: 600;
}
.row{
    margin-top: 2%;
    display: flex;
    justify-content:space-around;
}
.academics-col{
    flex-basis:  31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.academics-col:hover{
    box-shadow: 0 0 20px 0px #16f53b;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-----campus-----*/

.campus{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
  
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;

}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
background: rgba(110, 184, 135, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    color: #fff;
    opacity: 0;
    background-color: #073b1b;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.updates{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
}
.updates-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 5px;
    cursor: pointer;
    display: flex;
    border-width: 10 solid black;
}
.updates:hover{
    box-shadow: 0 0 20px 0px #16f53b;
}
@media(max-width: 700px){
    .updates-col{
        margin-left:  0px;
        margin-right: 15px;
    }
}
.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contact h3{
    color:#fff;
    margin-bottom: 40px;
    padding: 0;
}
.contact a{
    color: #fff;
}
.contact a:hover{
    color:#f44336;
}
.footer{
    background-color: #1b793f;
    color: whitesmoke;
    height: 30px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    
}
.blocker {
    clear: both !important;
}